@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,900;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply flex h-full flex-col;
    @apply bg-background;
  }

  html,
  body {
    @apply h-full bg-background text-black dark:text-white min-h-full !important;
    font-family: sans-serif;
  }

  .main-section {
    @apply container mx-auto mt-10 flex flex-col items-center;
  }

  .center {
    @apply flex items-center justify-center;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 5.9%, 10.5%;
    --foreground: 0 0% 98%;

    --card: 240, 5.9%, 9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0, 72.2%, 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  .markdown ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .markdown {
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
  }

  .markdown h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    @apply border-b-[1px] border-muted-foreground;
  }

  .markdown h1 {
    padding-bottom: .3em;
    font-size: 2em;
    @apply border-b-[1px] border-muted-foreground;
  }

  .markdown h3 {
    padding-bottom: .3em;
    font-size: 1.25em;
  }

  .markdown h4 {
    padding-bottom: .3em;
    font-size: 1em;
  }

  .markdown h5 {
    padding-bottom: .3em;
    font-size: .875em;
  }

  .markdown pre > div {
    @apply bg-muted !important;
    @apply text-foreground !important;
    text-shadow: var(--background) 0px 0px !important;
    @apply p-0 m-0 !important;
  }

  .markdown pre > div > code {
    @apply text-foreground !important;
  
    text-shadow: var(--background) 0px 0px !important;
  }

  .markdown pre {
    @apply bg-muted;
    margin-bottom: 16px;
    min-height: 52px;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    font-size: 85%;
    border-radius: 6px;
  }


  .markdown p {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .markdown a {
    text-underline-offset: .2rem;
    text-decoration: underline !important;
    color: #4493f8;
  }

  body {
    @apply bg-background text-foreground;
  }

  .markdown table,th,td {
    @apply border-foreground;
    border-width: 1px;
  }

  .markdown td {
    display: table-cell;
    vertical-align: inherit;
    padding: 6px 14px;
  }

  .markdown th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    @apply bg-gray-100 dark:bg-gray-900;
    padding: 6px 14px;
  }

  .markdown tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
  }

  .markdown tr:nth-child(2n) {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .markdown img {
    display: inline-block;
  }

  .markdown tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .markdown table {
    display: table;
    border-spacing: 2;
    border-collapse: collapse;
  }

}